.app-container {
  display: flex;
  align-items: flex-start;
  padding: 35px 20px;
  margin: 0 auto;
  max-width: 1100px;
  background: #f5f5f5;
}

.filters {
  width: 300px;
  margin-right: 50px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.12);

  .search-label {
    display: block;
    margin-bottom: 10px;
  }

  .input {
    padding: 10px 20px 10px 40px;
    font-size: 1rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0px 0px 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    outline: 0;
    background: white;
    display: inline-block;
    height: 46px;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.4);
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.4);
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(0, 0, 0, 0.4);
  }

  .search-box {
    position: relative;
  }

  .search-box:before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 12px;
    left: 10px;
    background-image: url("../../assets/icons/search.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    opacity: 0.25;
  }

  p {
    font-weight: 600;
  }

  .price-filter {
    padding-bottom: 30px;
  }

  .filter-item {
    display: inline-block;
    padding: 4px 20px 6px;
    margin-right: 10px;
    margin-top: 10px;
    border: solid 1px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    background-color: #f5f5f5;
    color: #555555;
    cursor: pointer;
  }

  .filter-item.active {
    border: solid 1px transparent;
    background-color: #777777;
    color: white;
  }

  .reset {
    display: flex;
    align-items: center;
    color: #6dba4a;
    cursor: pointer;
  }

  .reset-icon {
    width: 20px;
    margin-right: 5px;
  }
}

.error-message {
  margin-top: 30px;
  text-align: center;
}

.results {
  flex: 1;
}

.hotel-list {
  > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.hotel-card {
  background: white;
  display: grid;
  grid-template-columns: 160px 1fr 25%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.12);
  padding: 30px;

  .hotel-image {
    position: relative;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 5px;
  }

  .hotel-image img {
    position: absolute;
    margin: auto;
    min-width: 100%;
    height: 100%;
    top: -1000px;
    bottom: -1000px;
    left: -1000px;
    right: -1000px;
  }

  .hotel-details {
    padding: 10px 30px;
  }

  .hotel-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 5px;
  }

  .location {
    color: #777777;
  }

  .hotel-stars {
    margin-bottom: 8px;

    img {
      width: 16px;
    }
  }

  .price-details {
    padding: 10px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
  }

  .price {
    font-size: 18px;
    font-weight: 600;
    color: #6dba4a;
    margin-bottom: 15px;

    span {
      color: #6dba4a;
    }
  }

  .rewards {
    display: flex;
    align-items: center;
    font-weight: 500;
    padding-bottom: 10px;

    .icon {
      width: 20px;
      margin-right: 3px;
      opacity: 0.3;
    }
  }

  .book-button {
    flex: 1;
    display: flex;
    align-items: flex-end;
  }

  .button {
    background-color: #6dba4a;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    border: 0;
    width: 100%;
    padding: 10px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }
  .filters {
    width: 100%;
    margin: 0px 0px 50px;
  }
  .hotel-card {
    grid-template-columns: 100px 1fr 25%;
    padding: 15px;

    .hotel-image {
      width: 100px;
      height: 100px;
    }
    .hotel-details {
      padding: 10px;
    }
    .price-details {
      padding: 10px 0px 10px 15px;
    }
  }
}
